.mainLoop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.converted {
    text-align: center;
    flex-grow: 2;
    overflow: hidden;
}

#printForm {
    padding: 20px;
}

.fa-print {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.dateAndTimeToday {
    text-align: left;
}

.logo {
    text-align: right;
}

.converted img {
    width: 8.26in;
    margin-top: 24px;
    margin-bottom: 24px;
    /* margin-right: 950px; */
}

#page {
    width: max-content;
}

.mainHeader {
    position: relative;
}

.mainFooter {
    position: relative;
}