@import './_variables.less';
@import './templateBuilder.less';
@import './modal.less';
@import './toggler.less';

.__VCP__ {
  * {
    box-sizing: border-box;
    // font-family: Tahoma;
  }

  ::-webkit-scrollbar {
    width: 17px;
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    -webkit-background-clip: content-box;
    background-clip: content-box;
  }

  img:hover,
  input:hover {
    cursor: pointer;
  }

  input:disabled {
    background-color: #cfcdcd;
  }

  input:focus,
  select:focus,
  textarea:focus {
    box-shadow: 0 0 3px rgba(70, 150, 203, 0.59);
    outline: none;
    border: 1px solid rgba(70, 150, 203, 0.6);
  }

  .m-0 {
    margin: 0!important
  }

  .w-100 {
    width: 100%!important
  }

  #@{base-name}-printForm {
    padding: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;

    .@{base-name}-main-loop {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: auto;
      box-shadow: -1px 4px 10px 0px #818181;
      margin-bottom: 25px;
    }

    .@{base-name}-main-header {
      position: relative;
      overflow: hidden;
    }

    .@{base-name}-converted {
      text-align: center;
      flex-grow: 2;
      overflow: hidden;

      canvas {
        width: 100%;
      }
    }

    .@{base-name}-main-footer {
      position: relative;
      overflow: hidden;
    }
  }

  .@{base-name}-slot-wrapper {
    position: fixed;
    // left: 10000px;
    direction: ltr;

    .body-render-section {
      position: relative;
    }
  }
}
