* {
    box-sizing: border-box;
}

shadow {
    box-shadow: -3px 4px 9px 0px #ddd;
}

input:disabled {
    background-color: #cfcdcd;
}

input:focus,
select:focus,
textarea:focus {
    box-shadow: 0 0 3px rgba(70, 150, 203, 0.59);
    outline: none;
    border: 1px solid rgba(70, 150, 203, 0.6);
}

.a-btn {
    font-size: .9375rem;
    color: #434a54 !important;
    margin-right: .5rem !important;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
    color: #000;
    background-color: #d7ecff;
    border-color: #e6e9ed;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #434a54;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem 1.5rem;
    font-size: 1rem;
    border-radius: 3rem;
    transition: all .18s ease-in-out;

}

/* Template  */

.template {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

}

#bodyTemplate {
    flex-grow: 2;
}

.watermark {
    font-size: 79pt;
    color: #e1e1e1;
    text-align: center;
}

#bodyTemplate p {
    color: #a5a2a2;
    text-align: center;
}

.template-builder-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    overflow: hidden;
}

/* Tabs */

.tabs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-bottom: 1px solid #78bfff;
}

.tabs a {
    padding: 5px;
}

.tab {
    background-color: white;
    color: #aaa;
    border: 1px solid #d4d4d4;
    cursor: pointer;
    flex-grow: 1;
}

.tab:last-child {
    border-left: 0 !important;
}

.tab.selected {
    background-color: rgb(232, 235, 240);
    color: #484848;
    border: 1px solid #81c3ff;
    border-bottom: 0;
    margin-bottom: -1px;
}

/* Toolbar */

.toolbar-container {
    overflow: auto;
    min-width: 240px;
    width: 250px;
    padding: 0px;
    border: 1px ridge #d1d1d1;
    border-top: none;
}

.toolbar-header {
    background-color: rgb(232, 235, 240);
    color: #484848;
    border-bottom: 1px solid #81c3ff;
    padding: 10px;
    font-weight: bold;
}

.toolbar-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    color: black;
}

.toolbar-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 !important;
}

.toolbar-content-row {
    margin-top: 15px;
    flex-direction: row;
    display: flex;
    width: 100%;
}

.toolbar-content-row-element {
    width: 100%;
    justify-content: center;
    padding-top: 20px;
    margin-bottom: 5px;
}

.toolbar-content-row-element:hover {
    cursor: pointer;
}

.toolbar-content-row-elements {
    width: 50%;
}

.input-form-control {
    display: block;
    padding: 5px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.toolbar-content-label {
    width: 50%;
    padding: 5px;
}

.toolbar-content-label.span {
    margin-right: 20px;
}

.toolbar-content-field {
    width: 50%
}

.toolbar-content-field select {
    height: 30px;
    width: 105px;
    flex-grow: 2;
    text-align: center;
    text-align-last: center;
}

.toolbar-content-field input {
    height: 28px;
    width: 105px;
    flex-grow: 2;
    text-align: center;
    text-align-last: center;
}

.toolbar-content-field input[type='checkbox'],
.toolbar-content-field input[type='radio'] {
    width: 15px;
    height: 15px;
    border-radius: .25em;
}

.toolbar-content-field input[type='color'] {
    padding: 0;

    width: 107px;
    height: 28px;
}

.toolbar-content-field textarea {
    width: 200px;
    height: 50px;
    margin-right: 8px;
    resize: none;
    font-family: tahoma;
}

.toolbar-content-label p {
    font-size: 13px;
    width: 140px;
}

.template-container {
    margin: auto;
    box-shadow: -1px 4px 10px 0px #818181;
    height: 100%;
}

.element-disabled {
    opacity: 0.5;
    pointer-events: none;
}

/* Sections */

.section {
    position: relative;
    touch-action: none;
    user-select: none;
    background-color: #f1f1f1;
    box-sizing: content-box;
    direction: ltr;
    z-index: 3
}

.section:hover .section-tag {
    opacity: 1;
}

.section::before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 1px;
    background: #525252;
    top: -1px;
    left: 0;
}

.section-tag {
    height: 13px;
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;
    padding: 0 5px;
    font-size: 10px;
    position: absolute;
    left: 0;
    border-bottom-right-radius: 5px;
    z-index: 1;
}

.section .resizer {
    position: absolute;
    right: 0;
    left: 0;
}

.section .resizer:hover,
.section .resizer:active {
    cursor: n-resize;
}

.section.header .resizer {
    bottom: -10px;
}

.section.before-body .resizer {
    bottom: -10px;
}

.section.after-body .resizer {
    top: -10px;
}

.section.footer .resizer {
    top: -10px;
}

.section.header {
    border-bottom: 10px #aaa solid;
}

.section.before-body {
    border-bottom: 10px #aaa solid;
}

.section.after-body {
    border-top: 10px #aaa solid;
}

.section.footer {
    border-top: 10px #aaa solid;
}

.template.dragged {
    border: 3px #aaa dashed;
    box-shadow: inset 0 0 20px 16px rgb(235 233 233 / 88%);
}

/* Elements  */

.element.selected .elem-resizer {
    position: absolute;
    height: 6px;
    width: 6px;
    background-image: url('~/assets/images/resizer.svg');
}

.element.selected .elem-resizer.tl {
    left: 0;
    top: 0;
}

.element.selected .elem-resizer.tl:hover {
    cursor: nwse-resize;
}

.element.selected .elem-resizer.top {
    left: 50%;
    top: 0px;
}

.element.selected .elem-resizer.top:hover {
    cursor: ns-resize;
}

.element.selected .elem-resizer.tr {
    right: 0;
    top: 0;
}

.element.selected .elem-resizer.tr:hover {
    cursor: nesw-resize;
}

.element.selected .elem-resizer.left {
    left: 0;
    top: 50%;
    transform: translate(0px, -4px);
}

.element.selected .elem-resizer.left:hover {
    cursor: ew-resize;
}

.element.selected .elem-resizer.right {
    right: 0;
    top: 50%;
    transform: translate(0px, -4px);
}

.element.selected .elem-resizer.right:hover {
    cursor: ew-resize;
}

.element.selected .elem-resizer.bl {
    left: 0;
    bottom: 0;
}

.element.selected .elem-resizer.bl:hover {
    cursor: nesw-resize;
}

.element.selected .elem-resizer.bottom {
    left: 50%;
    bottom: 0;
}

.elem-resizer.right.resizer-large,
.elem-resizer.left.resizer-large {
    height: 100% !important
}

.elem-resizer.right.resizer-small,
.elem-resizer.left.resizer-small {
    height: 5% !important
}

.elem-resizer.top.resizer-large,
.elem-resizer.bottom.resizer-large {
    width: 100% !important
}

.elem-resizer.top.resizer-small,
.elem-resizer.bottom.resizer-small {
    width: 5% !important
}

.element.selected .elem-resizer.bottom:hover {
    cursor: ns-resize;
}

.element.selected .elem-resizer.br {
    right: 0;
    bottom: 0;
}

.element.selected .elem-resizer.br:hover {
    cursor: nwse-resize;
}

.fas:hover {
    cursor: pointer;
}

.content-wrapper {
    display: flex;
    align-items: center;
}

.content {
    flex-grow: 1;
}

.template-container .element {
    background-color: #ffffff;
}

.element {
    text-align: center;
    position: absolute;
    width: 100px;
    overflow: hidden;
    min-height: 30px;
    min-width: 20px;
    z-index: 2;
}

/* .element.selected,
.row.selected { */
/* box-shadow: inset 0px 0px 4px 2px #c3c3c3; */

/* border: 1px #aaa dashed !important;
    border-radius: 4px; */
/* } */

.template-builder-container .element:hover {
    width: 100px;
    border: 1px #aaa dashed;
    border-radius: 4px;
    cursor: move;
}

.element:active {
    cursor: grabbing;
}

.icon {
    cursor: pointer;
}

.imageelement.element img,
.variable.element img {
    width: 100%;
    height: 100%;
}

.imageelement-text {
    font-size: 12px;
    margin-bottom: 10px;
    margin-top: 10px
}

.dataset .columns {
    display: flex
}

.dataset.element {
    border: 1px solid #dbdbdb;
}

.column.element {
    min-width: unset !important;
    min-height: unset !important;
}

.rows {
    display: flex;
    flex-direction: column;
}

.row {
    border-top: 1px solid #dbdbdb
}

.label {
    padding: 10px 0;
    word-break: break-word;
}

.dataset-name {
    text-align: right;
    background-color: #ffdc79;
}

.repeator-name {
    text-align: right;
    background-color: #a7b1f9;
    height: 24px;
}

/* Variables  */

.variables-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.variables-header {
    text-align: center;
}

.add-section {
    margin-top: 10px;
    border: 1px solid black;
    padding: 3px 15px 3px;
    text-align: center;
    display: inline-block;
    position: relative;
}

.add-section :hover {
    cursor: pointer;
}

.add-section span {
    margin-right: 5px;
}

.variables-row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.large {
    width: 80% !important;
}

.small {
    width: 20% !important;
}

.variables-content-field input {
    border: 1px solid rgb(207, 195, 195);
    height: 100%;
    width: 100%;
    flex-grow: 2;
    text-align: center;
    text-align-last: center;
    background-color: transparent;
}

.variables-content-field select {
    border: 1px solid rgb(207, 195, 195);
    height: 100%;
    width: 100%;
    flex-grow: 2;
    text-align: center;
    text-align-last: center;
    background-color: transparent;
}

.variables-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    flex-direction: column;
}

.variables-content-field input[type='file'] {
    margin-top: 3px;
    border: 0;
}

.variables .variable {
    margin-top: 10px;
    background-color: #faecff;
    padding: 5px;
}

.variables-content-field img {
    margin-top: 10px;
}

.small img {
    cursor: pointer;
}

.variable.element {
    background-color: #faecff;
}

.variables .variable.selected {
    background-color: #f1caff;
}